.__marker_root {
  position: relative;
  width: 280px;
  height: 260px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 12px;
  z-index: 999;

  .__marker_label {
    position: absolute;
    left: 0;
    top: 0;
    width: 280px;
    height: 260px;
    border-radius: 8px;
    transition: all 0.3s;
    overflow: hidden;
  }
}

.__marker_root::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -6px;
  right: -15px;
  transform: translateX(-10px);
  border: 15px solid transparent;
  border-top-color: #10b592;
  transform: rotate(-143.97deg);
}

.__title {
  border-bottom: 1px solid #10b592;
  display: flex;
  width: 100%;
  padding: 1%;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
  padding: 4%;
  font-size: 16px;
  font-weight: bold;

  .__logo {
    img {
      width: 36px;
      filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));
    }
    width: 10%;
  }
  .__shop_name {
    width: 80%;
    text-align: center;
  }
  .__close {
    width: 10%;
    color: #6a6a6a;
  }
}
.__info_con {
  padding: 6% 4%;
  box-sizing: border-box;
  color: #6a6a6a;
  width: 100%;
  height: 143px;
}
.__store_info {
  display: flex;
  justify-content: space-between;
  align-items: top;
  vertical-align: center;

  .__address {
    color: #000;
  }

  .__telNo {
    color: #005dac;
  }
}
.__use {
  margin-top: 15px;
}
.__road_btn {
  width: 100%;
  background: #10b592;
  color: #fff;
  height: 53px;
  font-size: 16px;
  text-align: center;
  padding: 5%;
  box-sizing: border-box;

  a {
    color: #fff;
  }
}
